@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  line-height: 18px;
}

.feature-card {
  box-shadow: 0 4px 10px rgba(214, 210, 255, 0.2);
}

pre {
  font-size: 10px !important;
}

.linenumber {
  color: rgba(86, 84, 112, 0.4) !important;
}